<% provide :title, t(".page_title") %>
<h1><%= t ".page_title" %></h1>
<% if current_user.notifications.any? %>
  <h2><%= current_user.name %></h2>
  <div class="container pagination justify-content-center" >
  <%= paginate @notifications, theme: "twitter-bootstrap-4",
    pagination_class: "pagination-sm" %>
  </div>

  <ul class="notifications">
    <%= render @notifications %>
  </ul>
<% end %>
