<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <% if @user.user? && current_user.current_user?(@user) %>
        <% if !@user.card_activated? %>
          <%= link_to t(".register"), register_path %>
        <% end %>
      <% end %>
    </section>
  </aside>
</div>
