$gray: #666666;
$pink-light: #db8e8e;
$blue: #1cc8db;
$brown: #D5A677;
$white: #FFFFFF;
$notification-border: #eaebeb;
$notification-background: #fafaf8;
$notification-background-unread: #ccccff;
$image-cover: "https://res.cloudinary.com/dmra0gt0z/image/upload/v1534494007/library_banner_2.jpg"
