@import 'colorX';

.rh-footer {
  margin-top: 100px;
}

.books a {
  color: $gray;
  :hover {
    color: $pink-light;
  }
}
.user-single a {
  color: $gray;
  :hover {
    color: $pink-light;
  }
}
.user-single img {
  float: left;
  margin-right: 10px;
  width: 8%;
}

.help-page a {
  color: $blue;
  :hover {
    color: $pink-light;
  }
}

.add-new-book a {
  color: $blue;
  :hover {
    color: $pink-light;
  }
}

.notifications a {
  color: $blue;
  :hover {
    color: $pink-light;
  }
}

.page-item a {
  color: $gray;
}

.sign-up-now a {
  color: $blue;
}

.sign-in-social-newtwork a {
  color: $blue;
}

.register-card a {
  color: $blue;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}

.book-quote {
  font-size: 20px;
}

.record img {
  float: left;
  margin-right: 10px;
  width: 8%;
}

.comments {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}

.load-more-container a {
  color: $gray;
}
