<li class="copy-index">
  <% if logged_in? && current_user.user? %>
    <div class="col-lg-3">
      <%= registered_copy.copy.book_title %>
    </div>
    <div class="col-lg-2">
      <%= registered_copy.registered_date %>
    </div>
    <div class="col-lg-1">
      <%= registered_copy.borrowed %>
    </div>
    <div class="col-lg-6">
      <%= link_to t(".return"), registered_copy, method: :delete,
            data: {confirm: t(".confirm")} %>
    </div>
  <% end %>
</li>
